
@{
    ViewBag.Title = "ChuongTrinhDaoTao";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="BackgroundHeader" style="position:relative;margin-bottom:20px">
    <img src="~/Content/images/backgroundlayout.jpg" style=" max-width: 100%; height: auto; " />
    <div class="content-henders" style="background-color: rgba(0, 0, 0, 0.4); position: absolute; width: 100%; bottom: 0px;">
        <div style="color:white;font-size:25px">
            <div id="clock"></div>
        </div>
    </div>
</div>
@*CONTENT*@
<section class="my-4">
    <div class="container">
        <div class="col-lg-12 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <a></a>
                        <a href="/Home/Single/1">
                            <div class="row m-2">

                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img src="/Content/images/TS tien si.jpg" alt="thumb" class="img-fluid">
                                        </div>
                                        <div class="d-flex my-1">


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8  grid-margin">
                                    <h2 class="mb-2 font-weight-600">
                                        Thông báo tuyển sinh đào tạo trình độ tiến sĩ đợt 2, năm 2022
                                    </h2>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2"><i class="ion-calendar"></i> 9/11/2022 12:00:00 AM</span>
                                    </div>
                                    <p class="mb-0">
                                        Căn cứ Thông tư số 18/2021/TT-BGDĐT ngày 28/6/2021 của Bộ Giáo dục và Đào tạo ban hành Quy chế tuyển sinh và đào tạo trình độ tiến sĩ, Trường Đại học Vinh thông báo kế hoạch tổ chức xét tuyển nghiên cứu sinh đợt 2, năm 2022 như sau:
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/Home/Single/10">
                            <div class="row m-2">

                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img src="/Content/images/Thong bao1.png" alt="thumb" class="img-fluid">
                                        </div>
                                        <div class="d-flex my-1">


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8  grid-margin">
                                    <h2 class="mb-2 font-weight-600">
                                        Kế hoạch thi và cấp chứng chỉ tiếng Anh Khung NLNN 6 bậc dùng cho Việt Nam Đợt thi ngày 03, 04/12/2022 tại Trường Đại học Vinh
                                    </h2>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2"><i class="ion-calendar"></i> 11/3/2022 12:00:00 AM</span>
                                    </div>
                                    <p class="mb-0">
                                        Trường Đại học Vinh tổ chức thi và cấp chứng chỉ tiếng Anh Khung năng lực ngoại ngữ 6 bậc dùng cho Việt Nam, đợt thi ngày 03, 04/12/2022. Cụ thể như sau:
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/Home/Single/11">
                            <div class="row m-2">

                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img src="/Content/images/thongbao2.jpg" alt="thumb" class="img-fluid">
                                        </div>
                                        <div class="d-flex my-1">


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8  grid-margin">
                                    <h2 class="mb-2 font-weight-600">
                                        Thông báo điểm chuẩn và hướng dẫn tra cứu điểm xét tuyển đào tạo trình độ Thạc sĩ đợt 1 năm 2022
                                    </h2>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2"><i class="ion-calendar"></i> 10/20/2022 12:00:00 AM</span>
                                    </div>
                                    <p class="mb-0">
                                        Căn cứ Thông tư số 23/2021/TT-BGDDT ngày 30/8/2021 của Bộ Giáo dục và Đào tạo về việc ban hành Quy chế tuyển sinh và đào tạo trình độ thạc sĩ, Trường Đại học Vinh thông báo điểm chuẩn và hướng dẫn tra cứu điểm xét tuyển đào tạo trình độ Thạc sĩ đợt 1 năm 2022 như sau:
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/Home/Single/12">
                            <div class="row m-2">

                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img src="/Content/images/thongbao3.jpg" alt="thumb" class="img-fluid">
                                        </div>
                                        <div class="d-flex my-1">


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8  grid-margin">
                                    <h2 class="mb-2 font-weight-600">
                                        Thông báo xét tuyển đại học chính quy Đợt 2 năm 2022
                                    </h2>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2"><i class="ion-calendar"></i> 9/27/2022 12:00:00 AM</span>
                                    </div>
                                    <p class="mb-0">
                                        Căn cứ Thông tư số 08/2022/TT-BGDĐT ngày 06/6/2020 của Bộ Giáo dục và Đào tạo ban hành Quy chế tuyển sinh trình độ đại học; tuyển sinh trình độ cao đẳng ngành Giáo dục Mầm non; Căn cứ Đề án số 725/ĐA-ĐHV ngày 16/6/2022 của Trường Đại học Vinh về tuyển sinh năm 2022, Nhà trường thông báo việc đăng ký xét tuyển vào học đại học chính quy đợt 2 năm 2022 bằng các mã phương thức: 100, 200, 405, 406 (*), như sau:
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="/Home/Single/13">
                            <div class="row m-2">

                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img src="/Content/images/thongbao4.jpg" alt="thumb" class="img-fluid">
                                        </div>
                                        <div class="d-flex my-1">


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8  grid-margin">
                                    <h2 class="mb-2 font-weight-600">
                                        Thông báo điểm trúng tuyển vào đại học chính quy đợt 1 năm 2022
                                    </h2>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2"><i class="ion-calendar"></i> 9/16/2022 12:00:00 AM</span>
                                    </div>
                                    <p class="mb-0">
                                        Căn cứ Quy chế tuyển sinh đại học, tuyển sinh cao đẳng ngành Giáo dục Mầm non; Căn cứ Đề án tuyển sinh của Trường Đại học Vinh năm 2022, Trường Đại học Vinh thông báo điểm trúng tuyển vào đại học chính quy đợt 1 năm 2022 theo các mã phương thức 100, 200, 402, 405, 406 như sau:
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    @*TIME*@
    let time = document.getElementById("clock");
    time.addEventListener("load", clock);
    function clock() {
        let date = new Date();
        let h = date.getHours();
        let m = date.getMinutes();
        let s = date.getSeconds();
        let mm = date.getMilliseconds();
        let sess = "Am";

        if (h === 0) {
            h = 12;
        }
        if (h > 12) {
            h = h - 12;
            sess = "Pm";
        }
        if (s === 60) {
            s = 0;
        }

        h = h < 10 ? "0" + h : h;

        m = m < 10 ? "0" + m : m;
        s = s < 10 ? "0" + s : s;
        let clock = h + ":" + m + ":" + s + " " + sess;
        time.innerHTML = clock;
    }

    clock();
    setInterval(clock, 1000);
</script>